@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>
<div>
    <p>This website offers a user-friendly interface for managing user accounts. Here's a guide to help you get started:</p>
    <ul>
        <li>
            Login: Before accessing the features, make sure to log in to your account using your credentials.
        </li>
        <li>
            Accounts List: Navigate to the "Accounts" page to view a comprehensive list of user accounts. Utilize the search bar to filter the accounts by typing at least three characters. The table will dynamically update as you type.
        </li>
        <li>
            Export Data: With the "Export" button, you can effortlessly save the filtered account data to an XML file. The downloaded file will include the currently displayed accounts.
        </li>
        <li>
            Details and Editing: Click on the "Details" button of an account to access and modify its information. Edit the username, first name, last name, birthplace, residence, or password. For password changes, input a new password with a length between 5 and 10 characters. Note that passwords are hidden for security reasons. To modify a password, enter a new one directly.
        </li>
        <li>
            Logout: To log out from your account, simply click the "Logout" button located at the top main menu of the page.
        </li>
    </ul>

    <p>Feel free to explore and utilize the various features to manage your user accounts efficiently.</p>
    <p>Experience hassle-free account management through our intuitive interface!</p>
</div>
